<div class="container">
  <section class="timer">
    <h1 class="timer__title">{{ title }}</h1>
    <div class="timer__field">
      <div class="timer__numbers">
        {{ timerData | date: 'HH:mm:ss' }}
      </div>
    </div>
    <div class="timer__controls">
      <button type="button" class="ui primary basic button timer__button" (click)='handleStart()'>
        {{ btnText }}
      </button>
      <button type="button" class="ui primary basic button timer__button" (click)='handlePause()' [disabled]='!isStarted'>
        Wait
      </button>
      <button type="button" class="ui primary basic button timer__button" (click)='handleReset()'>
        Reset
      </button>
    </div>
  </section>
</div>
